.about-section {
	background-color: #181818;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	color: white;
	word-spacing: 2px;
}

.about-section h1 {
	font-size: 50px;
}

.about-section img {
	margin: 30px;
	width: 550px;
	height: 550px;
}

.about-section p {
	text-align: center;
	font-size: 1.25rem;
	margin: 30px;
	margin-left: 100px;
	width: 70%;
	border-top: 1px solid gray;
	padding-top: 40px;
	position: relative;
	left: 50px;
}

.social-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

.fa {
	padding: 15px;
	font-size: 1.25rem;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	line-height: 15px;
	vertical-align: middle;
	margin: 5px 50px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-envelope {
	background: gray;
	color: white;
}

.fa-github {
	font-size: 3rem;
	color: white;
}
