.about-section {
	background-color: #181818;
	margin: 2rem;
	display: flex;
	color: white;
	word-spacing: .1rem;
	padding: 2rem;
}

.about-section img {
	margin: 1rem;
	width: 35%;
	height: auto;
}

.about-section p {
	text-align: center;
	font-size: 1.25rem;
	margin: 1.5rem;
	margin-left: 10rem;
	width: 70%;
	border-top: 1px solid gray;
	padding-top: 1.5rem;
	position: relative;
	left: 1.5rem;
}

.social-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 1.5rem;
	margin-left: 2rem;
	padding-left: 5rem;
}

.fa {
	padding: 1rem;
	font-size: 1.25rem;
	width: 2.5em;
	height: auto;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	vertical-align: middle;
	margin: .5em;
}

.fa:hover {
	opacity: 0.7;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-envelope {
	background: gray;
	color: white;
}

.fa-github {
	background: #483248;
	color: white;
}
