* {
	box-sizing: border-box;
}

html {
	padding: 0;
	background-image: url(images/cybercity.jpg);
	background-color: #181818;
}

body {
	font-family: "Play", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #181818;
	animation: fadeIn ease 1s;
}

body::-webkit-scrollbar {
	display: none;
}

.background-img {
	background-image: url(images/cybercity.jpg);
}

a {
	text-decoration: none;
}

.header {
	background-image: url(images/cybercity.jpg);
	display: flex;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar {
	height: 2em;
	margin: 1em;
	margin-top: 1.5em;
	margin-left: 1em;
	font-weight: 700;
}


.nav-item {
	color: white;
	margin: .5em;
}


a:hover {
	opacity: .8;
}

.center-logo {
	position: fixed;
	margin-top: .6em;
	left: 50%;
	width: 3rem;
	height: 3rem;
	z-index: 10;
}

.center-logo:hover {
	opacity: .8;
}

.banner-outer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	pointer-events: none;
}

.banner {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 15em;
}

.name-heading {
	color: black;
	position: absolute;
	font-size: 6rem;
}

.bottom-blurb {
	background-color: #181818;
	padding: 2rem;
	display: flex;
	margin: 2rem;
}

.snippet {
	width: 35%;
	height: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
}

.bottom-blurb h2 {
	font-size: 4rem;
	text-align: center;
	border-bottom: 1px solid gray;
}

.blurb {
	margin: 2.5em;
	padding: 2.5em;
	width: 40em;
	color: white;
	font-size: 1.25rem;
	word-spacing: .1rem;
	text-align: center;
	position: relative;
	bottom: 6em;
	left: 5em;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}

.footer {
	color: white;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	padding: 1em 0;
}
